build/*
!build/quote/
build/quote/*
!build/quote/jlcpcb-mini-order-2026-06-01/
!build/quote/jlcpcb-mini-order-2026-06-01/**
!build/quote/jlcpcb-mini-order-2026-06-01.zip
*.kicad_prl
*.kicad_sch-bak
*.kicad_pcb-bak
fp-info-cache